@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FAFAF5;
}

#body-text{
	padding-top: 200px;	
}

#wedding-text{
	border-style: solid;
	border-color: #0C2947;
	text-align: center;
	background-color: lightgrey;
}

.headline-text{
	font-family: 'Great Vibes', cursive;
}

#photo-slide{
	padding-top: 200px;
}

.card .card-image img {
	padding-top: 5px;
}

.slider{
	height: 720px !important;
}

.slides{
	height: 690px !important;
}

h3{
	line-height: 1000%;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #0C2947;
}

#form-input:focus, #filter:focus {
   border-bottom: 1px solid #0C2947;
   box-shadow: 0 1px 0 0 #0C2947;
 }

 .btn, .btn-large {
 	background-color: #0C2947;
 }

 .btn:hover, .btn-large:hover{
 	background-color: grey;	
 }

.row .col.s3{
	height: 300px;
	padding: 10px;
}

.Main-header {
  background-color: #0C2947;
  height: 150px;
  padding: 20px;
  color: white;
}

#logo {
  text-align: left;
}

a#drowndown-button {
	text-align: right;
	color: white;
}